<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">フォロー</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <% @user.following.each do |follow| %>
        <div class="follow-user">
          <div class="user-icon-mini">
            <%= image_tag follow.image.url %>
          </div>
          <div>
            <%= link_to follow.username, follow %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>