<div id="comment_form">
  <%= form_for(@comment) do |f| %>
    <%= f.hidden_field :post_id, value: feed_item.id %>
    <div class="content-form">
      <%= f.text_field :content, placeholder: "コメントを追加..." %>
    </div>
    <div class="submit-btn">
      <%= f.submit "投稿する", class: "btn" %>
    </div>
  <% end %>
</div>