@import "bootstrap";

/* ------------- univ ----------------*/
body {
  background-color: #f5f5f5;
}

.main {
  margin-bottom: 20px;
}

/* ------------ header ---------------*/
header {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  height: 55px;
  .top-icon {
    font-size: 25px;
    color: #000;
    font-family: cursive;
    &:hover{
      color: #000;
      text-decoration: none;
    }
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    margin: 0 150px;
    padding: 0 15px;
  }
}

footer {
  text-align: right;
  margin: 0 150px;
  padding: 15px;
}

/* -------------index -------------*/
.home {
  text-align: center;
}

.home-title {
  font-family: cursive;
}

/* ------------- home --------------*/
.item {
  margin: 0 57px;
  margin-bottom: 60px;
  border: 1px solid #e8e8e8;
  .feed-header {
    background-color: #FFF;
    height: 60px;
    padding: 16px;
    text-align: left;
  }
  .etc {
    background-color: #FFF;
    .favorite {
      height: 40px;
      paddhing: 0 16px;
      text-align: left;
      .comment {
        font-size: 14px;
      }
    }
    .comments {
      .comment-item{
        padding: 0 16px;
        .comment {
          display: flex;
          strong, p {
            font-size: 14px;
            padding-left: 5px;
          }
          .content {
            width: 500px;
            text-align: left;
          }
        }
      }
      .comment_form {
        border-top: 1px solid #e8e8e8;
        height: 56px;
        padding: 0 16px;
        .new_comment {
          display: flex;
          line-height: 54px;
          input[type="text"] {
            border: none;
            height: 50px;
            width: 480px;
            margin-right: 10px;
          }
          .btn {
            color: #0095f6;
          }
        }
      }
    }
  }
}


/* ------------- sign-up --------------*/
.sign-form {
  h1 {
    font-family: cursive;
  }
  h2 {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin:0 40px 10px;
    color: #8e8e8e;
  }
}

.sign-card {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
}

.term {
  margin: 10px 60px;
  font-size: 12px;
  color: #c0c0c0;
  .link {
    color: #808080;
  }
}

.actions{
  margin: 10px 35px 0;
}

/* ------------ profile --------------*/
.profile {
  text-align: center;
  margin-bottom: 44px;
}
.user-header {
  display: flex;
  justify-content: center;
}
.user-icon {
  margin-right: 30px;
}
.profile-top {
  display: flex;
  height: 40px;
  margin-bottom: 20px;
  .profile-link {
    line-height: 40px;
    margin-left: 20px;
  }
}
.status {
  display: flex;
  height: 18px;
  margin-bottom: 20px;
  p {
    margin-right: 40px;
    .sum {
      font-weight: bold;
      color: #000;
      &:hover{
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.user-posts {
  padding-top: 53px;
  border-top: 1px solid #e8e8e8;
  text-align: center;
 .post-list {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 28px;
  } 
}

.post {
  img {
    height: 350px;
    width: 350px;
  }
}

/* ------------- edit --------------*/
.edit-card {
  background-color: #fff;
  text-align: center;
  padding: 32px 0;
  border: 1px solid #ddd;
  .personal-info {
    color: #c0c0c0;
    text-align: left;
    margin-left: 215px;
    margin-top: 10px;
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
  form {
    margin: 16px 0;
    .field {
      margin-bottom: 16px;  
      padding-right: 150px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
    label {
      padding: 0 32px;
      font-weight: bold;
    }  
    input, textarea {
      width: 330px;
      border-radius: 5px;
    }
  }
}

/* ---------- change password ----------------*/
.password-card {
  background-color: #fff;
  padding: 32px 0;
  text-align: center;
  border: 1px solid #ddd;
  form {
    margin-top: 20px;
    .field {
      margin-bottom: 16px;
      padding-right: 150px;
      display: flex;
      justify-content: flex-end;
      height: 40px;
      label {
        padding: 0 32px;
        font-weight: bold;
      }
      input {
        width: 330px;
        border-radius: 5px;
      }
    }
  }
}
